# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environments
env/
venv/

# Ignore build folder
/build/

# Ignore .vscode folder
.vscode

# Ignore other repositories in this folder
ros_kortex
ros_gz

# CMakeLists
/CMakeLists.txt