<launch>
  <node name="usb_cam" type="usb_cam_node" pkg="usb_cam" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="io_method" value="mmap" />
    <param name="frame_id" value="camera" />
    <param name="camera_name" value="usb_cam" />
    <param name="camera_info_url" value="" />
    <param name="framerate" value="30" />
    <param name="image_format" value="bgr8" />
  </node>

  <node name="assess_pose_node" type="assess_pose_node.py" pkg="pose_assessment" output="screen"/>
</launch>
