<launch>
  <!-- Arguments to enable or disable nodes -->
  <arg name="run_img_display" default="false" />
  <arg name="run_img_processor" default="true" />
  <arg name="run_img_save" default="false" />
  <arg name="run_mask_display" default="true" />

  <!-- Node definitions with conditionals -->
  <node if="$(arg run_img_display)" name="img_display_node" pkg="img_processor" type="img_display_node.py" output="screen" />
  <node if="$(arg run_img_processor)" name="img_processor_node" pkg="img_processor" type="img_processor_node.py" output="screen" />
  <node if="$(arg run_img_save)" name="img_save_node" pkg="img_processor" type="img_save_node.py" output="screen" />
  <node if="$(arg run_mask_display)" name="mask_display_node" pkg="img_processor" type="mask_display_node.py" output="screen" />

</launch>
