<launch>
  <!-- Parameter definitions -->
  <param name="prompt" value="person.chair" />
  <param name="target" value="person" />

  <!-- Arguments to enable or disable nodes -->
  <arg name="run_img_display" default="true" />
  <arg name="run_img_save" default="false" />
  <arg name="run_mask_display" default="true" />

  <!-- Always run Nodes-->
  <node name="kinect_pub_node" type="kinect_pub_node" pkg="kinect_pub" />
  <node name="img_processor_node" pkg="image_processing" type="img_processor_node.py" output="screen" />

  <!-- Node definitions with conditionals -->
  <node if="$(arg run_img_display)" name="img_display_node" pkg="image_processing" type="img_display_node.py" output="screen" />
  <node if="$(arg run_img_save)" name="img_save_node" pkg="image_processing" type="img_save_node.py" output="screen" />
  <node if="$(arg run_mask_display)" name="mask_display_node" pkg="image_processing" type="mask_display_node.py" output="screen" />

</launch>
